$font-base: "Roboto", sans-serif;

$bg-color: #FBFEF9;
$text-color: #191923;
$accent-color: #0E79B2;
$pink: #F8327D;
$card-gray: #DEE3E9;
$light-pink: #FFF1F1;

$space-xs: 0.5rem;
$space-sm: 1rem;
$space-md: 2rem;
$space-lg: 2.2rem;
$space-xl: 2.5rem;

$font-sm: 0.8rem;
$font-md: 1rem;
$font-lg: 1.5rem;

%responsive-heights {
  @media (max-width: 1400px) {
    max-height: 400px;
    min-height: auto !important;
    overflow-y: auto;
  }

  @media (max-width: 1200px) {
    max-height: 370px;
    min-height: unset !important;
  }

  @media (max-width: 768px) {
    max-height: fit-content;
  }
}
